* {
    box-sizing: border-box;
}

.override {
    background-color: black;
}

body {
    margin: 0;
}

h2, h3 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
}

.content {
    position: relative;
    margin-left: 1vw;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 30vw;
    background-color: white;
    position: fixed;
    top: 17.9vw;
    right: 0;
    height: 90vh;
    max-height: 90vh;
    overflow: auto;
    font-size: 5vh;
    background-color: #FF0000;
    border-right: 15px solid black;
}

    .sidebar a {
        font-family: 'Merriweather', serif;
        display: block;
        color: white;
        padding: 1vh 20px 5px 100px;
        text-decoration: none;
        float: right;
    }

        .sidebar a.active {
            color: white;
            font-weight: bold;
        }

        .sidebar a:hover:not(.active) {
            color: white;
        }

.miniFooter {
    width: 100vw;
    height: 10vh;
    font-size: small;
    background-color: #11A8AE;
    position: fixed;
    bottom: 0;
    right: 0;
}

    .miniFooter img {
        padding: 10px;
        float: right;
        width: 50px;
    }

div.content {
    margin-right: 25vw;
    padding-top: 1vh;
}

.mainImg {
    width: 65vw;
    height: auto;
    position: absolute;
    left: 0;
}

.mylogo {
    border-right: 15px solid black;
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    float: right;
    height: auto;
}

.container {
    position: relative;
}

    .container .mytextbox {
        position: absolute;
        background-color: white;
        margin-bottom: -5vh;
        width: 50vw;
        padding-left: 2vw;
        padding-right: 1vw;
        border-radius: 0 15px 0 0;
        left: 0;
        top: 30vw;
        min-height: 65vh;
    }

        .container .mytextbox h2 {
            font-size: 5vw
        }

/*news*/



.content div embed {
    width: 65vw;
    height: 88vh;
}

.content h2 {
    font-size: 5vw;
}

.content h3 {
    font-size: 2vw;
}

/*editor*/


/*contact*/

.contactText {
    float: right;
    padding-top: 5vh;
    padding-right: 8vw;
    color: white;
}

.myBadge {
    background-color: white;
    width: 280px;
}


.contactTextimg {
    position: fixed;
    left: 1vw;
    top: 20vh;
    width: 35vw;
    height: auto;
}
/*portfolio*/

.portfolioBox {
    background-color: white;
    border: 5px solid #11A8AE;
    margin-bottom: 10px;
}

.portfolioContainer {
    max-height: 88vh;
    margin-right: 8vw;
    overflow: auto;
}

    .portfolioContainer h3 {
        font-weight: bold;
        margin: 5px;
    }

    .portfolioContainer p {
        margin: 5px;
    }

    .portfolioContainer img {
        width: 2vw;
        height: auto;
    }

.portfolioBox:last-child {
    margin-bottom: -1px;
}

#menuToggle {
    display: none;
}

#editor {
    height: 90vh;
    width: 30vw;
    display: inline-block;
}

#iframe {
    background-color: white;
    height: 90vh;
    width: 39vw;
    display: inline-block;
}

/* disable tag matching */
.ace_editor .ace_marker-layer .ace_bracket {
    display: none
}





@media screen and (max-width: 955px) {
    .contactTextimg {
        display: none;
    }

    .contactText {
        float: left;
        padding-top: 5vh;
        padding-left: 5vw;
        color: white;
    }
}




@media screen and (max-width: 470px) {
    .sidebar {
        display: none;
    }

    .mylogo {
        float: right;
        height: 10vh;
        width: auto;
        border-right: 15px solid #11A8AE
    }

    #editor {
        display: none;
    }

    #iframe {
        background-color: black;
        padding-bottom: 10vh;
        height: 90vh;
        width: 95vw;
        display: inline-block;
    }

    #menuToggle {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    .bar {
        background-color: #FF0000;
        height: 10vh
    }

    #menuToggle a {
        text-decoration: none;
        color: white;
        font-size: 2em;
        transition: color 0.3s ease;
    }

        #menuToggle a:hover {
            color: #11A8AE;
            ;
        }


    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 40px;
        height: 6px;
        margin-bottom: 5px;
        position: relative;
        background: #11A8AE;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    }

        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }

        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #11A8AE;
    }

        /*
 * But let's hide the middle one.
 */
        #menuToggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        /*
 * Ohyeah and the last one should go the other direction
 */
        #menuToggle input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding-right: 450px;
        padding-top: 120px;
        background: black;
        color: white;
        font-weight: bold;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

        #menu li {
            padding: 10px;
            font-size: 22px;
        }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked ~ ul {
        transform: none;
    }

    .mainImg {
        width: 95vw;
        height: auto;
        position: absolute;
        left: 0;
    }

    .container .mytextbox {
        position: absolute;
        background-color: white;
        margin-bottom: -5vh;
        width: 80vw;
        padding-left: 2vw;
        padding-right: 1vw;
        border-radius: 0 15px 0 0;
        left: 0;
        top: 30vw;
        min-height:45vh;
        max-height: 50vh;
        overflow: auto;
    }

        .container .mytextbox h2 {
            font-size: 8vw
        }

        .container .mytextbox p {
            font-size: 5vw
        }

    .portfolioBox {
        background-color: white;
        border: 5px solid #11A8AE;
        margin-bottom: 10px;
    }

    .portfolioContainer {
        max-height: 65vh;
        width: 95vw;
        margin-right: 8vw;
        overflow: auto;
    }

        .portfolioContainer h3 {
            font-weight: bold;
            margin: 5px;
            font-size: 5vw;
        }

        .portfolioContainer p {
            margin: 5px;
            font-size: 3vw;
        }

        .portfolioContainer img {
            width: 2vw;
            height: auto;
        }

    .portfolioBox:last-child {
        margin-bottom: -1px;
    }

    .contactText h3 {
        font-size: 5vw;
    }

    .contactText h2 {
        font-size: 8vw;
    }

    .miniFooter {
        width: 100vw;
        height: 7vh;
        font-size: small;
        background-color: #11A8AE;
        position: fixed;
        bottom: 0;
        right: 0;
    }

        .miniFooter img {
            padding: 5px;
            float: right;
            width: 35px;
        }
}
