* {
    box-sizing: border-box;
}

.override {
    background-color: black;
}

body {
    margin: 0;
}

h2, h3 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.content {
    position: relative;
    margin-left: 1vw;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 30vw;
    background-color: white;
    position: fixed;
    top: 17.9vw;
    right: 0;
    height: 90vh;
    max-height: 90vh;
    overflow: auto;
    font-size: 5vh;
    background-color: #FF0000;
    border-right: 15px solid black;
}

    .sidebar a {
        font-family: 'Merriweather', serif;
        display: block;
        color: white;
        padding: 1vh 20px 5px 100px;
        text-decoration: none;
        float: right;
    }

        .sidebar a.active {
            color: white;
            font-weight: bold;
        }

        .sidebar a:hover:not(.active) {
            color: white;
        }

.miniFooter {
    width: 100vw;
    height: 10vh;
    font-size: small;
    background-color: #11A8AE;
    position: fixed;
    bottom: 0;
    right: 0;
}

    .miniFooter img {
        padding: 10px;
        float: right;
        width: 50px;
    }

div.content {
    margin-right: 25vw;
    padding-top: 1vh;
}

.mainImg {
    width: 65vw;
    height: auto;
    position: absolute;
    left: 0;
}

.mylogo {
    border-right: 15px solid black;
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    float: right;
    height: auto;
}

.container {
    position: relative;
}

    .container .mytextbox {
        position: absolute;
        background-color: white;
        margin-bottom: -5vh;
        width: 50vw;
        height: 56vh;
        padding-left: 2vw;
        border-radius: 0 15px 0 0;
        left: 0;
        top: 30vw;
    }

        .container .mytextbox h2 {
            font-size: 5vw
        }

/*news*/



.content div embed {
    width: 65vw;
    height: 88vh;
}

.content h2 {
    font-size: 5vw;
}

.content h3 {
    font-size: 2vw;
}

/*editor*/

#editor{
    height:400px;
}

@media screen and (max-width: 400px) {
    .mylogo {
        float: left;
    }

    .mainImg {
        margin: unset;
        padding: unset;
        width: 100vw;
        height: auto;
    }

    .sidebar a {
        text-align: center;
        float: none;
    }
}
